* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}
body{
    font-family: 'M PLUS 1', sans-serif;
    color: white;
   
}
.desktop{
    display: none;
}
@media (min-width: 768px) {
  .desktop {
      display: initial;
  }   
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    z-index:2;
    width:100%;
    
}
a.logo{
    height: 24px;
    width:120px;
    color: inherit;
}
header a{
    color:inherit;
}
header nav a{
    text-decoration: none;
    padding: 5px 13px;
    font-size: 14px;
} 
header nav.center{
    text-align: center;
    margin-left: 41px;
}
header nav.right{
    text-align: right;
}

section .content{
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  display: grid;
  grid-template-rows: min-content auto min-content; 
  
  
}
section h1{
    font-size: 3rem;
}
section a{
    color: inherit;
}

section .info {
    align-items: center;
    position: relative;
    display: flex;
    left:410px;
    top: 215px;

 }

section .info div{
    margin:  0 20px;
}

section .info div h1{
     font-size: 30px;
     font-weight: 400;
}
p, h1 {
    margin: 0px;
    padding: 0px;

  }

section .name h1{
    font-size: 40px;
}
section .clock {
   height: 20px;
   
}
 section .info p, h1{
     padding: 0px 20px 0px;
 }

 section .info h1{
     font-size: 28px;
 }

 section .info p{
    font-size: 12px;
}

section {
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

section .button {
    border-color: rgb(255, 0, 0);
    border-width: 10px;
    border-style: solid;
    border: 80px;
   
}
.car3 {
  height: 492px;
  width: 1440px;
  margin-bottom: 240px;
   
}
